@font-face{
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;

}





header > div {
    width: 100%;
    height: 200px;
    padding: 0 70 0 70;
    box-shadow: 1px 1px 2px black;
}

div > h1 {
    text-align: center;
    color: white;
    margin: 0 0 0 0;
    padding: 7px 7px 7px 7px;
    font-family: Helvetica;
    text-shadow: 1px 1px black;

}

div > h2 {
    text-align: center;
    color: white;
    margin: 0 0 52 0;
    font-family: Helvetica;
    text-shadow: 1px 1px black;

}

nav {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: 55px;
    margin-left: 10px;
    
}

nav > a {
    text-decoration: none;
    color: rgb(151, 206, 129);
    font-weight: bold;
    margin-right: 4px;
}

nav > a:hover {
    text-decoration: underline;
}

header {
    background-image: linear-gradient(#00700B, #00612A, #154700);
}

main{
    background-color: white;
    padding: 10px 0px 10px 0px;
    margin: 0px 150px 0px 150px;
    box-shadow: 1px 1px 2px black;
}

body{
    background-color: rgb(224, 218, 180);
    margin: 0 0 0 0;
}

article > p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
    padding: 0px 3px 0px 3px;
}

article > h1{
    font-family: 'idroid';
    font-size: 35px;
    color: #154700;
    padding: 0px 20px 0px 20px;
    margin: 25px 0px 25px 0px;

}

article > h2{
    font-family: 'idroid';
    font-size: 15px;
    color: #154700;
    background-image: linear-gradient(to right,  rgb(163, 216, 163), rgb(189, 219, 189), white);
    padding: 0px 40px 0px 20px;
    margin: 13px 0px 13px 10px;

}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}

article > iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

section > article#video{
    background-color: #072e0b;
    padding-top: 20px; ;
    padding-bottom: 20px;
}

article > div{
    width: 1048px;
    height: 300px;
}

h1#aprendermais{
    background-color: #154700;
    margin: 20px 10px 0px 10px;
    border-radius: 10px;
}

span{
    font-weight: bold;

}

span > a{
    background-image: linear-gradient(to right,  rgb(163, 216, 163), rgb(189, 219, 189));
    text-decoration: none;
    
}

span > a:visited{
    text-decoration: none;
    color: #154700;
}

span > a::after{
    content: "🔗";
}

footer{  background-color: #154700;
    padding: 5px 0px 5px 0px;
    margin: 0px 150px 0px 150px;
    box-shadow: 1px 1px 2px black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    

}